*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem 0rem;
  background-color: #1f2937;
}

.header__logo {
  font-size: 1.5rem;
  color: #f9faf8;
}

.header__menu {
  display: flex;
  gap: 2rem;
}

.header__link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
}
/* hero */
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 15rem;
  gap: 3rem;
}
.hero__title {
  color: #f9faf8;
  font-size: 3rem;
  font-weight: 900;
  max-width: 12ch;
  line-height: 1.2;
}

.hero__description {
  color: #e5e7eb;
  max-width: 45ch;
  margin-bottom: 0.5rem;
}

.hero__image img {
  width: 600px;
  height: 275px;
}

/* gallery */
.gallery {
  margin-top: 5rem;
}
.gallery__title {
  text-align: center;
  font-size: 2.25rem; /* 36 px */
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 5rem;
}
.gallery__container {
  display: flex;
  justify-content: center;
}

.gallery__box {
  margin: 0 4rem;
}
.gallery__description {
  max-width: 16ch;
  text-align: center;
}

.gallery__image {
  height: 150px;
  width: 150px;
  border: solid #3882f6 4px;
  border-radius: 1rem;
}

/* quote */
.quote {
  background-color: #e5e7eb;
  margin-top: 10rem;
  padding: 10rem 15rem 10rem;
}

.quote__quotation {
  margin: 0 auto;
  text-align: left;
  font-size: 2.25rem;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
  max-width: 41ch;
}

.quote__from {
  text-align: right;
  margin: 0 16em;
  font-weight: 700;
  font-size: 1.2rem;
}

/* call to action */
.cta {
  margin: 5rem;
}
.cta__box {
  padding: 3rem 8rem;
  border-radius: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  max-width: 60%;
}

.cta__call {
  font-size: 1.5rem;
  color: #f9faf8;
}

.cta__description {
  color: #f9f8fa;
}

.cta__button .btn {
  border: 2px solid #f9faf8;
}

/* utility */
.container {
  margin-inline: auto;
}

.btn {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 0.3rem 2rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
}
